.buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 34px;
  padding: 0 15px;
}

.hero-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 34px;
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: #212121;
}

.button {
  display: inline-block;
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: #212121;
  background-color: #f5f4fa;
  border-radius: 4px;
  border-width: 0;
  transition: all 0.4s ease;
  text-align: center;
  letter-spacing: 0.03em;
  text-decoration: none;
  cursor: pointer;
}

.button:hover,
.button :focus {
  color: #ffffff;
  background-color: #2196f3;
}

.hero-buttons-list:not(:last-child) {
  margin-right: 8px;
}

body {
  background-color: #ffffff;
  color: #757575;
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
}

img {
  object-fit: cover;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.list {
  list-style: none;
}

.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.contacts-title {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #757575;
  transition: all 0.4s ease;
}

.contacts-title:hover,
.contacts-title:focus,
.contacts-item-svg:hover {
  color: #2196f3;
  fill: #2196f3;
}

.contacts-svg {
  margin-right: 10px;
  transition: all 0.4s ease;
}

.contacts {
  display: flex;
  margin-left: auto;
}

.contacts .item:not(:last-child) {
  margin-right: 30px;
}

.contacts-link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  transition: all 0.4s ease;
}

.contacts-link:hover, .contacts-linkfocus {
  color: #2196f3;
}

.footer {
  background: #2f303a;
  padding-bottom: 60px;
  padding-top: 60px;
  margin: auto;
}

.footer-container {
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 1600px;
}

.footer-logo {
  margin-bottom: 20px;
}

.adress {
  font-style: normal;
  margin-right: 70px;
}

.adress-title {
  color: #ffffff;
  text-decoration: none;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-list-link {
  margin-bottom: 9px;
}

.footer-social-container {
  margin-right: 90px;
}

.social {
  color: #ffffff;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-social-lists {
  display: flex;
  justify-content: space-between;
  width: 200px;
  margin: 20px auto;
}

.footer-social-item-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  width: 40px;
  height: 40px;
  transition: all 0.4s ease;
}

.footer-social-item-link:hover {
  background-color: #2196f3;
}

.footer-social-list-svg {
  fill: #ffffff;
  width: 20px;
  height: 20px;
}

.join-us {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.footer-input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-top: 20px;
  margin-right: 12px;
  padding-left: 16px;
  background: #2f303a;
  color: #ffffff;
}

.footer-button {
  color: #ffffff;
  background-color: #2196f3;
  font-family: Roboto;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  border-radius: 4px;
  padding: 10px 32px;
  cursor: pointer;
  text-align: center;
  border: 1px solid transparent;
  display: flex;
}

.footer-button-svg {
  fill: #ffffff;
  margin-left: 10px;
}

.header {
  padding-top: 32px;
  padding-bottom: 32px;
  border: 1px solid #ececec;
}

.site-nav .current {
  position: relative;
  color: #2196f3;
}

.site-nav .current::after {
  position: absolute;
  bottom: -1px;
  display: block;
  content: " ";
  border-radius: 2px;
  width: 100%;
  height: 4px;
  background: #2196f3;
}

.site-nav .current:visited {
  color: #2196f3;
}

.head-nav {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eee;
}

.site-nav {
  display: flex;
  margin-left: 90px;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.section-list {
  width: calc(100% / 4);
  padding: 15px;
}

.site-nav .link {
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  transition: all 0.4s ease;
}

.site-nav .link:hover, .site-nav .link:focus, .site-nav .link:active {
  color: #2196f3;
}

.hero-title {
  color: #212121;
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.hero {
  padding-top: 94px;
  padding-bottom: 94px;
}

.examples-container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.examples {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: -15px;
}

.examples-list {
  margin: 15px;
  width: 370px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.examples-list:hover, .examples-list:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.examples-link {
  text-decoration: none;
}

.examples-title {
  color: #212121;
  background-color: #ffffff;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-top: 0;
  margin-bottom: 10px;
}

.examples-name {
  color: #757575;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 10px;
}

.examples-project-desc {
  border: 1px solid #eeeeee;
  padding-left: 24px;
  padding-top: 20px;
  padding-left: 20px;
}

.examples-list-container {
  position: relative;
  overflow: hidden;
}

.examples-photo {
  width: 100%;
  display: block;
}

.examples-list .expamles-text {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.556;
  background: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.4s ease;
}

.examples-list:hover .expamles-text,
.examples-list:focus .expamles-text {
  transform: translateY(0);
}
/*# sourceMappingURL=portfolio.css.map */