.section-team {
  padding-left: 15px;
  padding-right: 15px;
}

.team {
  color: $title-text-color;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  text-decoration: none;
  margin: 0;
  padding-bottom: 10px;
  padding-top: 30px;
  align-items: center;
  justify-content: center;
}

.our-work {
  margin-top: 0;
  margin-bottom: 50px;
}

.section-team-list {
  margin: 0;
}

.team-card-name {
  text-align: center;
  background-color: $primary-white-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.team-card .list {
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: space-between;
}

.social-lists {
  display: flex;
  justify-content: space-between;
  width: 200px;
  margin: 0 auto;
  padding-bottom: 30px;
}

.social-item-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: $primary-white-color;
  width: 40px;
  height: 40px;
  fill: #afb1b8;
  transition: all 0.4s ease;

  &:hover {
    background-color: $accent-color;
    fill: $box-bg-color;
  }
}

.social-list-svg {
  width: 20px;
  height: 20px;

  &:hover {
    fill: $box-bg-color;
  }
}
