.logo {
  font-family: $logo-font;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  text-decoration: none;

  color: $accent-color;

  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.2;
  }

  &-main {
    .item {
      color: $primary-text-color;
    }
  }

  &-footer {
    display: block;
    margin-bottom: 20px;

    .item {
      color: $white;
    }
  }
}
