.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 93px 15px;
  background-color: rgba(0, 0, 0, 0.5);

  overflow-y: auto;

  opacity: 1;

  transition: all 250ms linear 250ms;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  transition: all 250ms linear 250ms;
}

.backdrop.is-hidden .modal {
  transform: translateX(-50%) scale(0);
  transition: transform 250ms linear 0s;
}

.modal {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden auto;

  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;

  background-color: $white;

  transition: transform 250ms linear 150ms;

  @media screen and (max-width: 767px) {
    max-width: 450px;
    width: 100%;
  }

  @media screen and (min-width: 768px) {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 450px;
    width: 100%;
    transform: translate(-50%, -50%) scale(1);
  }

  @media screen and (min-width: 1200px) {
    max-width: 528px;
  }
}

.close-form {
  position: absolute;
  display: flex;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: $white;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.close-icon {
  width: 18px;
  height: 18px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .close-form:hover & {
    fill: $accent-color;
  }
}

.form {
  margin: 0;
  padding: 40px;
  text-align: center;
}

.form b {
  display: inline-block;

  font-weight: 700;
  margin-bottom: 30px;

  @media screen and (max-width: 1199px) {
    font-size: 20px;
    line-height: 1.5;
  }

  @media screen and (min-width: 1200px) {
    font-size: 20px;
    line-height: 1.15;
  }
}

.form-field {
  position: relative;
  display: flex;

  margin-bottom: 28px;

  &:nth-child(5) {
    margin-bottom: 20px;
  }
}

.form-field input,
.form-field textarea {
  margin: 0;
  width: 100%;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  color: $text-color;
}

.form-field input {
  padding: 12px 42px;
}

.form-field textarea {
  padding: 12px 16px;
  resize: none;
}

.form-label {
  position: absolute;
  top: 50%;
  left: 42px;

  font-size: 14px;
  line-height: 1.14;

  transform: translateY(-50%);
  color: $text-color;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .form-field:focus-within &,
  .form-input:not(:placeholder-shown) + & {
    color: $accent-color;
    transform: translateY(-42px);
    left: 16px;
  }
}

.comment {
  top: 12px;
  left: 16px;

  transform: none;

  .form-field:focus-within &,
  .form-input:not(:placeholder-shown) + & {
    transform: translateY(-34px);
  }
}

.form-field .icon {
  position: absolute;
  top: 50%;
  left: 16px;
  width: 18px;
  height: 18px;

  transform: translateY(-50%);
}

.form-icon {
  width: 18px;
  height: 18px;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field:focus-within .icon {
  fill: $accent-color;
}

.form-input:focus {
  border: 1px solid $accent-color;
}

.form .link {
  color: $accent-color;
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0px;
  padding: 0px;
  clip: rect(0 0 0 0);

  overflow: hidden;

  &-label {
    display: inline-flex;
    align-items: center;

    margin-bottom: 30px;

    @media screen and (max-width: 1199px) {
      font-size: 12px;
      line-height: 1.1;
    }

    @media screen and (min-width: 1200px) {
      font-size: 14px;
      line-height: 1.7;
    }

    @media screen and (min-width: 480px) {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.checkbox-label .icon {
  display: inline-block;
  margin-right: 8px;
  width: 15px;
  height: 15px;
  border: 2px solid $primary-text-color;
  border-radius: 2px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .icon {
  border-color: $accent-color;
  background-color: $accent-color;
  background-image: url(../../img/iconcheck.svg);
  background-size: contain;
  background-origin: border-box;
}

.checkbox-text {
  text-align: left;
}
