@media screen and (max-width: 767px) {
  .icon-list {
    display: flex;
  }

  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 120px;
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: $box-bg-color;
    margin-bottom: 30px;
  }

  .section-title {
    color: $title-text-color;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding-bottom: 10px;
    margin: 0 auto;
    text-align: center;
  }

  .section-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 768px) {
  .section .container {
    margin-bottom: 60px;
  }
  .feature-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  .section-list {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }

  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: $box-bg-color;
    margin-bottom: 30px;
    height: 120px;
  }

  .section-title {
    color: $title-text-color;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding-bottom: 10px;
    margin: 0 auto;
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .feature-list {
    display: flex;
    margin: -15px;
    flex-wrap: nowrap;
  }

  .section-list {
    width: calc((100% - 4 * 15px) / 4);
    margin: 15px;
  }

  .section {
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }

  .section-title {
    color: $title-text-color;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding-bottom: 10px;
    margin: 0 auto;
  }

  .section-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    margin: 0 auto;
  }
}
