*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-color: $primary-white-color;
  color: $primary-text-color;
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
}

img {
  object-fit: cover;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.bg {
  background-color: $box-bg-color;
}

.section {
  padding-bottom: 94px;
  padding-top: 94px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
  display: flex;
  justify-content: center;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
