.button {
  color: $primary-white-color;
  background-color: $accent-color;
  font-family: Roboto;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  border-radius: 4px;
  padding: 10px 32px;
  display: inline-block;
  width: 200px;
  text-align: center;
  border: 1px solid transparent;
}

button {
  cursor: pointer;
  transition: all 0.4s ease;

  &:focus,
  &:hover {
    color: $primary-white-color;
    background-color: $accent-color;
  }
}
