body {
  background-color: $primary-white-color;
  color: $primary-text-color;
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
}

img {
  object-fit: cover;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.list {
  list-style: none;
}

.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
