$main-font: Roboto, sans-serif;
$logo-font: Raleway;
$primary-text-color: #212121;
$text-color: #757575;
$accent-color: #2196f3;
$white: #ffffff;
$button-bcg-color: #f5f4fa;
$footer-bcg-color: #2f303a;
$link-color: #afb1b8;
