$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$primary-white-color: #ffffff;
$secondary-white-color: #e5e5e5;
$secondary-text-color: rgba(255, 255, 255, 0.6);
$box-bg-color: #f5f4fa;
$primary-icon-color: #afb1b8;
